# DATA CLEANING
- Una vez que hemos visualizado los datos, vamos a proceder a limpiarlos.
- El objetivo es eliminar aquellos valores que no nos interesan y reorganizar aquellos que nos proporcionan información.

In [31]:
import pandas as pd
import numpy as np
import matplotlib

In [32]:
# Importamos el dataset 
data = pd.read_csv('../../Downloads/global-shark-attacks/attacks.csv', encoding='latin-1')

In [33]:
data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [34]:
def missing_values(data):
    """ Función que nos permite ver el porcentaje de Nan values por columna """
    null = data.isnull().sum()
    total = len(data)
    return round(null/total,2)

In [35]:
missing_values(data)

Case Number               0.66
Date                      0.76
Year                      0.76
Type                      0.76
Country                   0.76
Area                      0.77
Location                  0.78
Activity                  0.78
Name                      0.76
Sex                       0.78
Age                       0.87
Injury                    0.76
Fatal (Y/N)               0.78
Time                      0.89
Species                   0.87
Investigator or Source    0.76
pdf                       0.76
href formula              0.76
href                      0.76
Case Number.1             0.76
Case Number.2             0.76
original order            0.75
Unnamed: 22               1.00
Unnamed: 23               1.00
dtype: float64

In [36]:
for col, value in data.iteritems():
    if missing_values(data[col]) > 0.9:
        data.drop(col, axis = 1, inplace = True)

In [37]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

# **Drop columns**

Vamos a eliminar las siguientes columnas:
    - Original order
    - Case Number1
    - Case Number2
    - href
    - href formula
    - pdf

In [38]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [39]:
to_drop = ["original order", "Case Number.2","Case Number.1","href" ,"href formula","pdf", "Year","Date", "Name"]

In [40]:
data.drop(to_drop, axis = 1, inplace = True)

In [41]:
data.head()

,Case Number,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2018.06.25,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

# **Clean Columns**:
Una vez eliminadas las columnas que no nos interesan, vamos a limpiar los valores de las mismas.
- Renombrar 
- Qué tipo de datos hay en cada columna, y después daremos sentido a estos datos, eliminando aquello que no nos proporcione información.

In [42]:
# Renombrar las columnas que tienen espacios o nombres
# demasiado largos
data = data.rename(columns={ 
                            'Sex ':'Sex',
                            'Fatal (Y/N)':'Fatal', 
                            'Species ':'Species',
                            'Investigator or Source':'Source'})

In [43]:
data.dtypes

Case Number    object
Type           object
Country        object
Area           object
Location       object
Activity       object
Sex            object
Age            object
Injury         object
Fatal          object
Time           object
Species        object
Source         object
dtype: object

# 1. Date

In [48]:
data['Case Number'] = data['Case Number'].str[:10]
data['Case Number'] = data['Case Number'].str.replace(".", "-")

In [51]:
import datetime
data['DateTime'] = pd.to_datetime(data['Case Number'],  errors='coerce')

In [54]:
data.DateTime

0       2018-06-25
1       2018-06-18
2       2018-06-09
3       2018-06-08
4       2018-06-04
           ...
25718          NaT
25719          NaT
25720          NaT
25721          NaT
25722          NaT
Name: DateTime, Length: 25723, dtype: datetime64[ns]

# 2. Type

In [55]:
# -Boating
# -Unprovoked
# -Invalid: ?
# -Provoked
# -Questionable: igual que invalid ?
# -Sea Disaster
# -Boat: igual que boating
# -Boatomg : igual que boating
data.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [56]:
data.loc[(data['Type']== 'Questionable'), 'Type'] = 'Invalid'
data.loc[(data['Type']== 'Boat') | (data['Type']== 'Boatomg'), 'Type'] = 'Boating'

# 3. Sex

In [57]:
# 3. Reemplazar espacios 
# Unificar valores: M (male), F (female) y Nan
data['Sex'] = data['Sex'].str.replace(' ', '')
data.Sex.unique()
data.loc[(data['Sex']!='M') & (data['Sex']!='F'), 'Sex'] = np.NaN

In [58]:
data.Sex.unique()

array(['F', 'M', nan], dtype=object)

# 4. Fatal

In [59]:
data['Fatal'] = data['Fatal'].str.replace(' ', '')
# -N
# -Y
# -Nan
# -M: Nan
# -UNKNOWN : Nan
# -2017: Nan
# -y: Y
data.loc[(data['Fatal']== 'M') | (data['Fatal']== 'UNKNOWN')| (data['Fatal']== '2017'), 'Fatal'] = 'nan'
data.loc[(data['Fatal']== 'y'), 'Fatal'] = 'Y'
data.loc[(data['Fatal']!='Y') & (data['Fatal']!='N'), 'Fatal'] = np.NaN

In [60]:
data.Fatal.unique()

array(['N', 'Y', nan], dtype=object)

# 5. Country

Hay muchos países con 1 solo ataque, y vamos a filtrar por aquellos que hayan tenido como mínimo 50,
para que sea más significativo.

In [61]:
data.Country.value_counts()
data = data.groupby("Country").filter(lambda x: len(x) >= 50)

In [62]:
data.shape

(5025, 14)

In [63]:
data.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'SOUTH AFRICA', 'BAHAMAS',
       'NEW CALEDONIA', 'NEW ZEALAND', 'REUNION', 'PHILIPPINES', 'FIJI',
       'ITALY', 'PAPUA NEW GUINEA'], dtype=object)

# 6. Activity